.hero-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%) blur(2px);
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.4);  */
  padding: 20px 40px;
  border-radius: 8px;
}

.object-fit-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.scrolling-comp {
  overflow-x: scroll; /* Enables horizontal scrolling */
  overflow-y: hidden; /* Hides vertical scrollbar if present */
  white-space: nowrap;
}
.horizontal-scrollable-row {
  overflow-x: auto;
  white-space: nowrap; /* Optional, depending on content wrapping needs */
}

.horizontal-scrollable-row > .col {
  display: inline-block; /* Ensures columns stay in a line */
  float: none; /* Prevents floating behavior that can break inline-block layout */
}
