.inactive {
  color: #fff;
  text-decoration: none;
}

.active {
  color: purple;
  text-decoration: none;
}
.main-content {
  position: relative;
  background-image: "../../assets/img/brand/tashi-takgye.png";
  min-height: 80vh;
  padding-bottom: 2px;
}
